
  <div class="content-wrapper" style="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="col-md-8">
          <h1 style="font-size: 40px;"><%=current_user.full_name%></h1>
          <h1><%=t('devise.failure.disabled')%></h1>
          <div style="margin-bottom: 20px;margin-top: 20px; ">
                <%= flash[:info]= "no puedes iniciar sesión, tu cuenta esta deshabilitada"%>
                <%= link_to t('app_common.session.come_back_login'), destroy_user_session_path , method: :delete ,class:"btn btn-primary"%>
          </div>
        </div>
      </div>
    </section>
  </div>
