<div class="user_forms-signup">
	
	<h1 class="user_unregistered-title" style="margin-top: 33%; font-size: 1.6em;"><%=t('app_common.session.no_acc')%></h1>
	<br><br>
	<h2 class="user_unregistered-title" style=" color: #275392;font-size: 1.2em;font-style: bold; text-transform: none;"><%=t('app_common.session.get_acc')%></h2>
	

</div>